.header__content {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 450px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 120px;


 
}

.header__title{
    color: #3C3C3C;
font-family: "Playfair Display";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 105.3%; /* 52.65px */
letter-spacing: 1px;
text-transform: uppercase;
width: 216px;
display: flex;
justify-content: center;
align-items: center;

}
.header__text{
    color: #343434;
font-family: "Roboto Condensed";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140.8%; /* 22.528px */
letter-spacing: 0.32px;
margin-top: 7px;


}
.header__btn{
    color: var(--text-color, #414141);
font-family: "Roboto Condensed";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 140.8%; /* 16.896px */
letter-spacing: 0.48px;
background: #FFF;
border: none;

/* menu-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
width: 163px;
height: 45px;
flex-shrink: 0;
margin-top: 20px;
}



