.jadval__flex1{
    display: flex;
    padding-left: 40px;
    gap: 5px;
    
   
}
.jadval__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 1200px;
height: 70px;
flex-shrink: 0;
background: #FFF;
margin-top: 20px;
margin-bottom: 30px;

/* menu-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}
.jadval__flex2{
    display: flex;
    padding-right: 40px;
   
}